<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}Flask App{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/logo.svg') }}">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/convert">Model Conversion</a>
        <a href="/visualization">Model Visualization</a>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        &copy; 2025 Inventec | AI Model Conversion
    </footer>

</body>
</html>

